/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/

.titulo-acerca{
    background-image: url(../img/Portada-Acercade.jpg);
}

.texto-acerca h4{
    font-size: 20px;
    color: rgb(33, 18, 90);
}

