
/*!――――――――――INDEX MAIN――――――――――*/

/* Titulo principal */

.titulo-index h1{
    font-size: 90px;
    color: white;
    text-shadow: 2px 2px 2px rgb(33, 18, 90);
}

.titulo-index h2{
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    opacity: 0.7;
}

.titulo-index{
    background-image: url(../img/portadainicio.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 360px;
    padding-bottom: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Información destacada (recuadros grises) */

.destacados-index{
    height: 300px;
    display: grid;
    grid-template-rows: 280px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding-top: 20px;
}

.destacados-index div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.destacados-index img{
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.destacados-index a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(33, 18, 90);
    padding-top: 10px;
    font-size: 16px;
}

.destacados-index h4{
    font-size: 12px;
    color: rgb(180, 180, 180);
}

.destacados-index h3{
    padding-top: 5px;
    font-size: 16px;
}

/* Apartado para pacientes y profesionales */

.info-index{
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: repeat(2, 1fr);
}

.info-index h3{
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.info-pacientes{
    background-image: url(../img/infopacientes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 200px;
    padding-top: 200px;
    padding-bottom: 250px;
    padding-right: 200px;
    background-position: center;
    text-align: center;
}

.info-pacientes a{
    color: white;
}

.info-profesionales{
    background-image: url(../img/infodoctor.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 200px;
    padding-top: 200px;
    padding-bottom: 250px;
    padding-right: 200px;
    background-position: center;
    text-align: center;
}

.info-profesionales a{
    color: white;
}

/* Acceso a apartados importantes PT.1 y PT.2 */

.importantes-index{
    height: 270px;
    display: grid;
    grid-template-rows: 280px;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding-top: 50px;
    background-color: rgb(26, 50, 95);
}

.importantes-index img{
    width: 100px;
    padding-bottom: 10px;
}

.importantes-index h3{
    font-size: 15px;
    color: white;
    padding-bottom: 5px;    
}

.importantes-index p{
    color: rgb(161, 161, 161);
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
    padding-bottom: 10px;
}

.importantes-index div a{
    color: white;
    font-size: 15px;
}

/* Testimonios de pacientes */

.testimonio-index{
    background-image: url(../img/historiapacientes.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 200px;
    padding-top: 250px;
    padding-bottom: 250px;
    padding-right: 200px;
    background-position: center;
    text-align: center;
}

.testimonio-index h2{
    font-size: 40px; 
    color: white;
    text-shadow: 2px 2px 2px black;
}

.testimonio-index div a{
    color: white;
    font-size: 20px;
}

/* Acceso a turnos e historia del hospital */

.nosotros-index{
    display: grid;
    grid-template-rows: 450px;
    grid-template-columns: repeat(2, 1fr);
}

.nosotros-index h2{
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.turnos-index{
    background-image: url(../img/turno.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 250px;
    padding-bottom: 250px;
    padding-right: 150px;
    background-position: center;
    text-align: center;
}

.turnos-index a{
    color: white;
}

.historia-index{
    background-image: url(../img/historianuestra.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 200px;
    padding-top: 250px;
    padding-bottom: 250px;
    padding-right: 200px;
    background-position: center;
    text-align: center;
}

.historia-index a{
    color: white;
}

/* Ubicación del hospital (imagen con acceso a Google Maps) */

.mapa{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
}

.mapa h2{
    font-size: 30px;
    color: rgb(190, 190, 190);
    text-align: left;
    text-shadow: 2px 2px 2px black;
}

.mapa h3{
    font-size: 50px;
    color: white;
    text-align: left;
    text-shadow: 2px 2px 2px black;
}

.mapa{
    background-image: url(../img/mapahospital.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-top: 180px;
    padding-bottom: 250px;
    padding-right: 150px;
    background-position: center;
    text-align: left;
}

.mapa a{
    color: white;
}

/*!――――――――――INDEX FOOTER――――――――――*/

.footer-index-fondo{
    background-color: rgb(230, 230, 230);
}

/* Datos importantes (contacto telefónico, sede central, datos fiscales) */

.footer-datos-importantes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(33, 18, 90);
}

.footer-datos-importantes h2{
    color: rgb(33, 18, 90);
    font-size: 30px;
    text-align: center;
}

.footer-datos-importantes p{
    font-size: 18px;
    text-align: center;
}

.footer-datos-fiscales h2{
    padding-top: 23px;
}

/* Accesos directos a diversas partes de la plataforma */

.footer-resumen-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(33, 18, 90);
}

.footer-resumen-links h2{
    color: rgb(33, 18, 90);
    font-size: 20px;
    padding-bottom: 10px;
}

.footer-resumen-links a{
    color: rgb(33, 18, 90);
    text-decoration: none;
    font-size: 15px;
}

.footer-pacientes{
    padding-top: 30px;
}

/* Logo y redes sociales */

.logo-y-redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

.logo-footer img{
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
}

.redes-sociales h2{
    padding-top: 20px;
    color: rgb(33, 18, 90);
}

.redes-sociales img{
    width: 50px;
}

.redes-sociales a{
    text-decoration: none;
}

/* Información sobre creación de web */

.creacion h2{
    font-size: 15px;
    text-align: center;
    color: rgb(33, 18, 90);
}

.creacion p{
    font-size: 15px;
    text-align: center;
    color: rgb(33, 18, 90);
    padding-bottom: 20px;
}