@charset "UTF-8";
/*!―――――――――――――――――――― ESTILOS GENERALES ――――――――――――――――――――*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Poppins", sans-serif; }

/**―――――――――――――――――――― BARRA DE NAVEGACIÓN ――――――――――――――――――――*/
header {
  width: 100vw;
  background-color: #1a325f;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  header img {
    width: 250px;
    margin: 25px; }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 25px; }
  header nav .menu-horizontal li .menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px; }
    header nav .menu-horizontal li .menu-vertical li a {
      display: block;
      color: #fff;
      padding: 15px 15px 15px 20px;
      font-size: 13px; }
    header nav .menu-horizontal li .menu-vertical li:hover {
      background-color: #c70101;
      transition: background-color 0.5s ease; }
  header nav .menu-horizontal li:hover .menu-vertical {
    display: block;
    background-color: rgba(26, 50, 95, 0.921); }
  header nav .menu-horizontal li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none; }

/**―――――――――――――――――――― TITULOS ――――――――――――――――――――*/
.titulo-index, .titulo-pacientes, .titulo-profesionales, .titulo-acerca, .titulo-micorazon, .titulo-portal-profesionales, .titulo-guardia {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 360px;
  padding-bottom: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .titulo-index h1, .titulo-pacientes h1, .titulo-profesionales h1, .titulo-acerca h1, .titulo-micorazon h1, .titulo-portal-profesionales h1, .titulo-guardia h1 {
    width: 100%;
    font-size: 90px;
    color: #fff;
    text-shadow: 2px 2px 2px #21125a;
    text-align: center; }
  .titulo-index h2, .titulo-pacientes h2, .titulo-profesionales h2, .titulo-acerca h2, .titulo-micorazon h2, .titulo-portal-profesionales h2, .titulo-guardia h2 {
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    opacity: 0.7;
    text-align: center; }

/** ―――――――――――――――――――― MAIN ALTERNATIVO ――――――――――――――――――――*/
.main-alternativo {
  background-color: #e6e6e6; }

/**―――――――――――――――――――― TEXTO MAIN ALTERNATIVOS ――――――――――――――――――――**/
.texto-pacientes, .texto-profesionales, .texto-acerca, .texto-apps, .texto-guardia {
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  padding-left: 50px;
  align-items: start; }
  .texto-pacientes .titulo-logo-alternativo, .texto-profesionales .titulo-logo-alternativo, .texto-acerca .titulo-logo-alternativo, .texto-apps .titulo-logo-alternativo, .texto-guardia .titulo-logo-alternativo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #21125a;
    padding-bottom: 30px; }
    .texto-pacientes .titulo-logo-alternativo h2, .texto-profesionales .titulo-logo-alternativo h2, .texto-acerca .titulo-logo-alternativo h2, .texto-apps .titulo-logo-alternativo h2, .texto-guardia .titulo-logo-alternativo h2 {
      font-size: 80px;
      letter-spacing: .5px; }
    .texto-pacientes .titulo-logo-alternativo h3, .texto-profesionales .titulo-logo-alternativo h3, .texto-acerca .titulo-logo-alternativo h3, .texto-apps .titulo-logo-alternativo h3, .texto-guardia .titulo-logo-alternativo h3 {
      font-size: 24px;
      padding-left: 10px; }
  .texto-pacientes p, .texto-profesionales p, .texto-acerca p, .texto-apps p, .texto-guardia p {
    font-size: 15px;
    text-align: justify;
    margin: 10px;
    width: 95%;
    color: #21125a; }

.texto-apps h3 {
  padding-top: 20px;
  padding-bottom: 20px; }

/**―――――――――――――――――――― ACCESOS ALTERNATIVOS ――――――――――――――――――――**/
.accesos {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #000;
  align-content: center;
  justify-content: center;
  padding: 50px; }
  .accesos .accesos-aplicativos {
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
    border-right: 1px solid #000; }
    .accesos .accesos-aplicativos div p {
      text-align: center;
      color: #21125a; }
      .accesos .accesos-aplicativos div p img {
        width: 50px;
        height: 50px;
        padding-top: 50px; }
    .accesos .accesos-aplicativos div h3 {
      color: #21125a; }
    .accesos .accesos-aplicativos div a:hover {
      color: #ff0000; }

/**―――――――――――――――――――― ACCESOS GUARDIA ――――――――――――――――――――**/
.accesos-guardia {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #000;
  align-content: center;
  justify-content: center;
  padding: 50px; }
  .accesos-guardia .accesos-aplicativos-guardia {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 50px; }
    .accesos-guardia .accesos-aplicativos-guardia div p {
      color: #21125a;
      padding-bottom: 15px; }
      .accesos-guardia .accesos-aplicativos-guardia div p img {
        width: 150px;
        height: 150px;
        padding-top: 50px; }
    .accesos-guardia .accesos-aplicativos-guardia div h3 {
      color: #21125a;
      padding-bottom: 10px; }
    .accesos-guardia .accesos-aplicativos-guardia .contactos-guardia {
      padding-top: 35px;
      text-align: center; }

/**―――――――――――――――――――― FORMULARIOS APPS ――――――――――――――――――――**/
.accesos-apps {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #000;
  align-content: center;
  justify-content: center;
  padding: 50px; }
  .accesos-apps .formulario-apps {
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .accesos-apps .formulario-apps img {
      width: 400px;
      height: 130px;
      padding-top: 50px;
      padding-bottom: 60px; }
    .accesos-apps .formulario-apps form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .accesos-apps .formulario-apps form a {
        color: #47659c; }
        .accesos-apps .formulario-apps form a:hover {
          color: #ff0000; }
      .accesos-apps .formulario-apps form p {
        color: #21125a;
        font-size: 12px;
        padding-top: 50px;
        width: 70%; }
      .accesos-apps .formulario-apps form h3 {
        font-size: 12px;
        text-align: center;
        padding-top: 50px; }
      .accesos-apps .formulario-apps form h4 {
        color: #21125a;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px; }
      .accesos-apps .formulario-apps form h5 {
        color: #21125a;
        font-size: 16px;
        padding-top: 60px;
        text-align: center; }
      .accesos-apps .formulario-apps form h6 {
        color: #21125a;
        font-size: 12px;
        padding-top: 10px;
        text-align: center; }
      .accesos-apps .formulario-apps form input {
        width: 55%;
        font-size: 15px;
        padding: 5px;
        border: 1px solid #fff;
        border-radius: 8px;
        outline: none; }
      .accesos-apps .formulario-apps form button {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 15px;
        background-color: #1a325f;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        transition: transform 0.1s ease; }
        .accesos-apps .formulario-apps form button:hover {
          transform: scale(1);
          background-color: #47659c;
          color: #fff;
          border: 1px solid #1a325f;
          box-shadow: 1px 1px black; }

/**―――――――――――――――――――― LOGO FLOTANTE WSP ――――――――――――――――――――*/
.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px; }
  .whatsapp img {
    width: 100px; }

/**―――――――――――――――――――― FOOTER ALTERNATIVO ――――――――――――――――――――*/
.alternativo-footer {
  background-color: #1a325f; }
  .alternativo-footer .alternativo-contactos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #fff; }
    .alternativo-footer .alternativo-contactos div h2 {
      font-size: 30px;
      text-align: center;
      color: #fff; }
    .alternativo-footer .alternativo-contactos div p {
      font-size: 18px;
      text-align: center;
      color: #c2c2c2; }
    .alternativo-footer .alternativo-contactos .alternativo-fiscales {
      padding-left: 50px;
      padding-right: 50px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff; }
      .alternativo-footer .alternativo-contactos .alternativo-fiscales h2 {
        padding-top: 23px; }
  .alternativo-footer .alternativo-links {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff; }
    .alternativo-footer .alternativo-links .footer-pacientes {
      padding-top: 30px; }
      .alternativo-footer .alternativo-links .footer-pacientes h2 {
        color: #fff;
        font-size: 20px;
        padding-bottom: 10px; }
      .alternativo-footer .alternativo-links .footer-pacientes ul li a {
        color: #c2c2c2;
        text-decoration: none;
        font-size: 15px; }
        .alternativo-footer .alternativo-links .footer-pacientes ul li a:hover {
          color: #ff0000; }
    .alternativo-footer .alternativo-links .footer-profesionales {
      padding-top: 30px; }
      .alternativo-footer .alternativo-links .footer-profesionales h2 {
        color: #fff;
        font-size: 20px;
        padding-bottom: 10px; }
      .alternativo-footer .alternativo-links .footer-profesionales ul li a {
        color: #c2c2c2;
        text-decoration: none;
        font-size: 15px; }
        .alternativo-footer .alternativo-links .footer-profesionales ul li a:hover {
          color: #ff0000; }
    .alternativo-footer .alternativo-links .footer-acercade {
      padding-top: 8px; }
      .alternativo-footer .alternativo-links .footer-acercade h2 {
        color: #fff;
        font-size: 20px;
        padding-bottom: 10px; }
      .alternativo-footer .alternativo-links .footer-acercade ul li a {
        color: #c2c2c2;
        text-decoration: none;
        font-size: 15px; }
        .alternativo-footer .alternativo-links .footer-acercade ul li a:hover {
          color: #ff0000; }
    .alternativo-footer .alternativo-links .footer-accesos {
      padding-top: 10px; }
      .alternativo-footer .alternativo-links .footer-accesos h2 {
        color: #fff;
        font-size: 20px;
        padding-bottom: 10px; }
      .alternativo-footer .alternativo-links .footer-accesos ul li a {
        color: #c2c2c2;
        text-decoration: none;
        font-size: 15px; }
        .alternativo-footer .alternativo-links .footer-accesos ul li a:hover {
          color: #ff0000; }

.logo-y-redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .logo-y-redes .logo-footer img {
    width: 300px;
    padding: 20px; }
  .logo-y-redes .redes-sociales {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .logo-y-redes .redes-sociales h2 {
      width: 100%;
      padding-top: 20px;
      color: #fff;
      text-align: center; }
    .logo-y-redes .redes-sociales a img {
      width: 50px; }

.alternativo-creacion h2 {
  font-size: 15px;
  text-align: center;
  color: #fff; }

.alternativo-creacion p {
  font-size: 15px;
  text-align: center;
  color: #fff;
  padding-bottom: 20px; }

/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/
.titulo-index {
  background-image: url(../img/Portada-Index.jpg); }

/**―――――――――――――――――――― DESTACADOS ――――――――――――――――――――*/
.destacados-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  background-color: #e6e6e6; }
  .destacados-index div {
    padding: 20px; }
    .destacados-index div img {
      width: 120px;
      height: 120px;
      margin-top: 10px;
      margin-bottom: 10px; }
    .destacados-index div h4 {
      font-size: 12px;
      color: #b4b4b4; }
    .destacados-index div h3 {
      font-size: 16px;
      padding-top: 5px; }
    .destacados-index div a {
      font-size: 13px;
      color: #21125a;
      padding-top: 10px; }
      .destacados-index div a:hover {
        color: #ff0000; }

/**―――――――――――――――――――― PACIENTES Y PROFESIONALES ――――――――――――――――――――*/
.info-index {
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr); }
  .info-index .info-pacientes {
    background-image: url(../img/Informacion-Pacientes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .info-index .info-pacientes h2 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      text-shadow: 2px 2px 2px #000; }
    .info-index .info-pacientes a {
      color: #e0e0e0; }
      .info-index .info-pacientes a:hover {
        color: #fff; }
  .info-index .info-profesionales {
    background-image: url(../img/Informacion-Profesionales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .info-index .info-profesionales h2 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      text-shadow: 2px 2px 2px #000; }
    .info-index .info-profesionales a {
      color: #e0e0e0; }
      .info-index .info-profesionales a:hover {
        color: #fff; }

/**―――――――――――――――――――― ACCESOS A APARTADOS IMPORTANTES PT.1 Y PT.2 ――――――――――――――――――――*/
.importantes-index {
  background-color: #1a325f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 30px; }
  .importantes-index div img {
    width: 100px;
    padding-top: 50px;
    padding-bottom: 10px; }
  .importantes-index div h3 {
    font-size: 15px;
    color: #fff;
    padding-bottom: 5px; }
  .importantes-index div p {
    width: 200px;
    color: #a1a1a1;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px; }
  .importantes-index div a {
    color: #fff;
    font-size: 15px; }
    .importantes-index div a:hover {
      color: #ff0000; }

/**―――――――――――――――――――― TESTIMONIOS ――――――――――――――――――――*/
.testimonio-index {
  background-image: url(../img/Historia-Pacientes.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .testimonio-index div h2 {
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 2px #000; }
  .testimonio-index div a {
    color: #bebebe; }
    .testimonio-index div a:hover {
      color: #fff; }

/**―――――――――――――――――――― TURNOS E HISTORIA ――――――――――――――――――――*/
.nosotros-index {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw; }
  .nosotros-index .turnos-index {
    background-image: url(../img/Turnos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nosotros-index .turnos-index h2 {
      font-size: 35px;
      color: #fff;
      text-align: center;
      text-shadow: 2px 2px 2px #000; }
    .nosotros-index .turnos-index a {
      color: #e6e6e6; }
      .nosotros-index .turnos-index a:hover {
        color: #fff; }
  .nosotros-index .historia-index {
    background-image: url(../img/Historia-Hospital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nosotros-index .historia-index h2 {
      font-size: 35px;
      color: #fff;
      text-align: center;
      text-shadow: 2px 2px 2px #000; }
    .nosotros-index .historia-index a {
      color: #e6e6e6; }
      .nosotros-index .historia-index a:hover {
        color: #fff; }

/**―――――――――――――――――――― UBICACION DEL HOSPITAL ――――――――――――――――――――*/
.mapa {
  background-image: url(../img/Mapa-Hospital.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 20px; }
  .mapa div h2 {
    font-size: 30px;
    color: #bebebe;
    text-shadow: 2px 2px 2px #000; }
  .mapa div h3 {
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 2px #000; }
  .mapa div a {
    color: #bebebe; }
    .mapa div a:hover {
      color: #fff; }

/**―――――――――――――――――――― FOOTER ――――――――――――――――――――*/
.footer-index-fondo {
  background-color: #e6e6e6; }
  .footer-index-fondo .index-contactos {
    border-bottom: 1px solid #21125a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #000; }
    .footer-index-fondo .index-contactos div h2 {
      font-size: 30px;
      text-align: center;
      color: #fff;
      color: #21125a; }
    .footer-index-fondo .index-contactos div p {
      font-size: 18px;
      text-align: center;
      color: #c2c2c2;
      color: #21125a; }
    .footer-index-fondo .index-contactos .index-datos-fiscales {
      padding-left: 50px;
      padding-right: 50px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      border-left: 1px solid #21125a;
      border-right: 1px solid #21125a; }
      .footer-index-fondo .index-contactos .index-datos-fiscales h2 {
        padding-top: 23px; }
  .footer-index-fondo .index-resumen-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #21125a; }
    .footer-index-fondo .index-resumen-links .footer-pacientes {
      padding-top: 30px; }
      .footer-index-fondo .index-resumen-links .footer-pacientes h2 {
        color: #21125a;
        font-size: 20px;
        padding-bottom: 10px; }
      .footer-index-fondo .index-resumen-links .footer-pacientes ul li a {
        font-size: 15px;
        color: #21125a;
        text-decoration: none; }
        .footer-index-fondo .index-resumen-links .footer-pacientes ul li a:hover {
          color: #ff0000; }
    .footer-index-fondo .index-resumen-links .footer-profesionales {
      padding-top: 30px; }
      .footer-index-fondo .index-resumen-links .footer-profesionales h2 {
        color: #21125a;
        font-size: 20px;
        padding-bottom: 10px; }
      .footer-index-fondo .index-resumen-links .footer-profesionales ul li a {
        font-size: 15px;
        color: #21125a;
        text-decoration: none; }
        .footer-index-fondo .index-resumen-links .footer-profesionales ul li a:hover {
          color: #ff0000; }
    .footer-index-fondo .index-resumen-links .footer-acercade {
      padding-top: 8px; }
      .footer-index-fondo .index-resumen-links .footer-acercade h2 {
        color: #21125a;
        font-size: 20px;
        padding-bottom: 10px; }
      .footer-index-fondo .index-resumen-links .footer-acercade ul li a {
        font-size: 15px;
        color: #21125a;
        text-decoration: none; }
        .footer-index-fondo .index-resumen-links .footer-acercade ul li a:hover {
          color: #ff0000; }
    .footer-index-fondo .index-resumen-links .footer-accesos {
      padding-top: 10px; }
      .footer-index-fondo .index-resumen-links .footer-accesos h2 {
        color: #21125a;
        font-size: 20px;
        padding-bottom: 10px; }
      .footer-index-fondo .index-resumen-links .footer-accesos ul li a {
        font-size: 15px;
        color: #21125a;
        text-decoration: none; }
        .footer-index-fondo .index-resumen-links .footer-accesos ul li a:hover {
          color: #ff0000; }

.logo-y-redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .logo-y-redes .logo-footer img {
    width: 300px;
    padding: 20px; }
  .logo-y-redes .redes-sociales {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .logo-y-redes .redes-sociales h2 {
      width: 100%;
      padding-top: 20px;
      color: #21125a;
      text-align: center; }
    .logo-y-redes .redes-sociales a img {
      width: 50px; }
    .logo-y-redes .redes-sociales .facebook {
      transition: transform 0.3s ease; }
      .logo-y-redes .redes-sociales .facebook:hover {
        transform: scale(1.1);
        content: url(../img/Link-Facebook-Alternativo.png); }
    .logo-y-redes .redes-sociales .instagram {
      transition: transform 0.3s ease; }
      .logo-y-redes .redes-sociales .instagram:hover {
        transform: scale(1.1);
        content: url(../img/Link-Instagram-Alternativo.png); }
    .logo-y-redes .redes-sociales .twitter {
      transition: transform 0.3s ease; }
      .logo-y-redes .redes-sociales .twitter:hover {
        transform: scale(1.1);
        content: url(../img/Link-Twitter-Alternativo.png); }
    .logo-y-redes .redes-sociales .youtube {
      transition: transform 0.3s ease; }
      .logo-y-redes .redes-sociales .youtube:hover {
        transform: scale(1.1);
        content: url(../img/Link-Youtube-Alternativo.png); }

.index-creacion h2 {
  font-size: 15px;
  text-align: center;
  color: #21125a; }

.index-creacion p {
  font-size: 15px;
  text-align: center;
  color: #21125a;
  padding-bottom: 20px; }

/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/
.titulo-pacientes {
  background-image: url(../img/Portada-Pacientes.png); }

/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/
.titulo-pacientes {
  background-image: url(../img/Portada-Pacientes.png); }

/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/
.titulo-profesionales {
  background-image: url(../img/Portada-Profesionales.jpg); }

/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/
.titulo-acerca {
  background-image: url(../img/Portada-Acercade.jpg); }

.texto-acerca h4 {
  font-size: 20px;
  color: #21125a; }

/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/
.titulo-micorazon {
  background-image: url(../img/Portada-MiCorazon.jpg); }

.titulo-portal-profesionales {
  background-image: url(../img/Portada-Profesionales.jpg); }

/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/
.titulo-registro-pacientes {
  background-image: url(../img/Portada-Registro-Pacientes.jpg); }
