/**―――――――――――――――――――― TITULO ――――――――――――――――――――*/

.titulo-index{
    background-image: url(../img/Portada-Index.jpg);
}

/**―――――――――――――――――――― DESTACADOS ――――――――――――――――――――*/

.destacados-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(230, 230, 230);
    div{
        padding: 20px;
        img{
            width: 120px;
            height: 120px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h4{
            font-size: 12px;
            color: rgb(180, 180, 180);
        }
        h3{
            font-size: 16px;
            padding-top: 5px;
        }
        a{
            font-size: 13px;
            color: rgb(33, 18, 90);
            padding-top: 10px;
            &:hover{
                color: #ff0000;
            }
        }
    }
}

/**―――――――――――――――――――― PACIENTES Y PROFESIONALES ――――――――――――――――――――*/

.info-index{
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    .info-pacientes{
        background-image: url(../img/Informacion-Pacientes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 60px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
        }
        a{
            color: rgb(224, 224, 224);
            &:hover{
                color: #fff;
            }
        }
    }
    .info-profesionales{
        background-image: url(../img/Informacion-Profesionales.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 60px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
        }
        a{
            color: rgb(224, 224, 224);
            &:hover{
                color: #fff;
            }
        }
    }
}

/**―――――――――――――――――――― ACCESOS A APARTADOS IMPORTANTES PT.1 Y PT.2 ――――――――――――――――――――*/

.importantes-index{
    background-color: rgb(26, 50, 95);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 30px;
    div{
        img{
            width: 100px;
            padding-top: 50px;
            padding-bottom: 10px;
        }
        h3{
            font-size: 15px;
            color: #fff;
            padding-bottom: 5px;
        }
        p{
            width: 200px;
            color: rgb(161, 161, 161);
            font-size: 12px;
            text-align: center;
            padding-bottom: 10px;
        }
        a{
            color: #fff;
            font-size: 15px;
            &:hover{
                color: #ff0000;
            }
        }
    }
}

/**―――――――――――――――――――― TESTIMONIOS ――――――――――――――――――――*/

.testimonio-index{
    background-image: url(../img/Historia-Pacientes.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        h2{
            font-size: 40px;
            color: #fff;
            text-shadow: 2px 2px 2px #000;
        }
        a{
            color: rgb(190, 190, 190);
            &:hover{
                color: #fff;
            }
        }
    }
}

/**―――――――――――――――――――― TURNOS E HISTORIA ――――――――――――――――――――*/

.nosotros-index{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    .turnos-index{
        background-image: url(../img/Turnos.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 35px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
        }
        a{
            color: rgb(230, 230, 230);
            &:hover{
                color: #fff;
            }
        }
    }
    .historia-index{
        background-image: url(../img/Historia-Hospital.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 35px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #000;
        }
        a{
            color: rgb(230, 230, 230);
            &:hover{
                color: #fff;
            }
        }
    }
}

/**―――――――――――――――――――― UBICACION DEL HOSPITAL ――――――――――――――――――――*/

.mapa{
    background-image: url(../img/Mapa-Hospital.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 20px;
    div{
        h2{
            font-size: 30px;
            color: rgb(190, 190, 190);
            text-shadow: 2px 2px 2px #000;
        }
        h3{
            font-size: 50px;
            color: #fff;
            text-shadow: 2px 2px 2px #000;
        }
        a{
            color: rgb(190, 190, 190);
            &:hover{
                color: #fff;
            }
        }
    }
}

/**―――――――――――――――――――― FOOTER ――――――――――――――――――――*/

.footer-index-fondo{
    background-color: rgb(230, 230, 230);
    .index-contactos{
        border-bottom: 1px solid rgb(33, 18, 90);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 1px solid #000;
        div{
            h2{
                font-size: 30px;
                text-align: center;
                color: #fff;
                color: rgb(33, 18, 90);
            }
            p{
                font-size: 18px;
                text-align: center;
                color: rgb(194, 194, 194);
                color: rgb(33, 18, 90);
            }
        }
        .index-datos-fiscales{
            padding-left: 50px;
            padding-right: 50px;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            border-left: 1px solid rgb(33, 18, 90);
            border-right: 1px solid rgb(33, 18, 90);
            h2{
                padding-top: 23px;
            }
        }
    }
    .index-resumen-links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(33, 18, 90);
        .footer-pacientes{
            padding-top: 30px;
            h2{
                color: rgb(33, 18, 90);
                font-size: 20px;
                padding-bottom: 10px;
            }
            ul{
                li{
                    a{
                        font-size: 15px;
                        color: rgb(33, 18, 90);
                        text-decoration: none;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
        .footer-profesionales{
            padding-top: 30px;
            h2{
                color: rgb(33, 18, 90);
                font-size: 20px;
                padding-bottom: 10px;
            }
            ul{
                li{
                    a{
                        font-size: 15px;
                        color: rgb(33, 18, 90);
                        text-decoration: none;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
        .footer-acercade{
            padding-top: 8px;
            h2{
                color: rgb(33, 18, 90);
                font-size: 20px;
                padding-bottom: 10px;
            }
            ul{
                li{
                    a{
                        font-size: 15px;
                        color: rgb(33, 18, 90);
                        text-decoration: none;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
        .footer-accesos{
            padding-top: 10px;
            h2{
                color: rgb(33, 18, 90);
                font-size: 20px;
                padding-bottom: 10px;
            }
            ul{
                li{
                    a{
                        font-size: 15px;
                        color: rgb(33, 18, 90);
                        text-decoration: none;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
}

.logo-y-redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo-footer{
        img{
            width: 300px;
            padding: 20px;
        }
    }
    .redes-sociales{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        h2{
            width: 100%;
            padding-top: 20px;
            color: rgb(33, 18, 90);
            text-align: center;
        }
        a{
            img{
                width: 50px;
            }
        }
        .facebook{
            transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.1);
                content: url(../img/Link-Facebook-Alternativo.png);
            }
        }
        .instagram{
            transition:  transform 0.3s ease;
            &:hover{
                transform: scale(1.1);
                content: url(../img/Link-Instagram-Alternativo.png);
            }
        }
        .twitter{
            transition:  transform 0.3s ease;
            &:hover{
                transform: scale(1.1);
                content: url(../img/Link-Twitter-Alternativo.png);
            }
        }
        .youtube{
            transition:  transform 0.3s ease;
            &:hover{
                transform: scale(1.1);
                content: url(../img/Link-Youtube-Alternativo.png);
            }
        }
    }
}

.index-creacion{
    h2{
        font-size: 15px;
        text-align: center;
        color: rgb(33, 18, 90);
    }
    p{
        font-size: 15px;
        text-align: center;
        color: rgb(33, 18, 90);
        padding-bottom: 20px;
    }
}